# -----------------------------------------------------------------------------
# How to edit config.yaml:
#
# 1. Rename config.yaml.example to config.yaml, and open it in a text editor.
#
# 2. Each key in the file represents a setting you can change to make your program work differently.
#
# 3. Some settings have to be a certain type of thing (like a number, a word, or a list),
#    or they might not work right.
#
# 4. Change the value of a setting by typing in a new value after the colon.
#    If a setting is commented out, remove the '#' symbol at the beginning
#    of the line to uncomment it and make it active.
#
# 5. Make sure to use the correct indentation (spacing at the start of each line) to group
#    related settings together. Use four spaces for each level of indentation.
#
# 6. Once you've finished changing the settings you want to change, save the file.
#
# 7. If you get an error message when you run your program, double-check the config file
#    to make sure everything is spelled correctly, looks the way it's supposed to, and is indented properly.
#
# 8. If you want to learn more about the YAML syntax,
#    check out this helpful link: https://yaml.org/spec/1.2/spec.html
# -----------------------------------------------------------------------------

# TODO: Add .env keys to each config, and add tests for loading from .env.

# The version of the config file, do not change.
version: "1.0"

# General bot settings
bot:
    # Required: The bot's token, REPLACE WITH YOUR BOT'S TOKEN!
    token: "MTIzNDU2Nzg5MDEyMzQ1Njc4OQ.12345.XYZ"

    # Required: The ID of your staff server (the server where new threads/tickets will be created).
    # To find your server's ID, see https://dis.gd/findmyid.
    # 1. Enable Developer Mode in your Discord settings.
    # 2. Right-click on your server's icon in the server list.
    # 3. Click "Copy ID".
    staff_server_id: 100000000000001

    # The bot's prefix, set to "" to disable prefixed commands (only allow slash commands).
    prefix: "?"

    # Whether the bot should respond to mentions. Only applicable if the bot has a prefix set.
    # respond_bot_mention: true

    # The ID of the bot's owner(s). Defaults to the bot application's owner if not set.
    # To find your user ID, see https://dis.gd/findmyid.
    # If the bot is owned by a team, the owner IDs will, by default, be the IDs of the team members.
    owner_ids:
        - 100000000000001
    #   - 100000000000002
    #   - 100000000000003

    # Whether to force sync slash commands to the bot's application.
    # Only set to true if you are using a development version of the bot.
    # Modmail will automatically sync the slash commands on version bump.
    # force_sync_commands: false

    # Whether to enable jishaku. This is a development tool that allows you to run Python code in Discord.
    # It is not recommended to enable this in production, as it can be a security risk.
    # Must install the jishaku package with "pdm install -G debug" to enable.
    # enable_jishaku: false

# Which locales the bot should support. This is used to determine the languages used by the bot.
# Currently supported locales are:
#   * en (English)
allowed_locales: ["en"]

# The default locale for the bot. This is the language that will be used if the user's locale is not supported.
# default_locale: "en"

# Required: The database type that stores your bot's logs.
# Can be one of: "sql" or "mongodb"
database_type: "mongodb"

# Configurations for the SQL database type. Only required if database_type is sql.
sql_config:
    # Required: The SQL connection URI, supported SQL databases are:
    #   * SQLite
    # Example for SQLite: "sqlite+aiosqlite:///modmail.db"
    # Example for PostgreSQL: "postgresql+asyncpg://user:password@localhost/modmail"
    uri: "sqlite+aiosqlite:///modmail.db"

# Configurations for the MongoDB database type. Only required if database_type is mongodb.
mongodb_config:
    # Required: The MongoDB connection URI
    # See https://docs.mongodb.com/manual/reference/connection-string/ for more information.
    uri: "mongodb://localhost:27017"

    # The MongoDB database name. Will use the database name from the URI if this is not set.
    # database: "modmail"

    # Whether to enforce TLS trusted certificates for the MongoDB connection.
    # This may be useful if you are using a self-signed certificate.
    # It's recommended to leave this set to false, otherwise you may be vulnerable to MITM attacks.
    # tls_allow_invalid_certificates: false

# Configures the logging outputs of the bot.
# If you're unsure what to set, leave this section default.
logging:
    # Whether Modmail should configure logging.
    enabled: true

    # The root logging level (any other levels set in the following configs cannot be lower than this level).
    # Valid options: DEBUG, INFO, WARNING, ERROR, CRITICAL.
    # root_level: "DEBUG"

    # The logging level for the console. Default is INFO to reduce spam from DEBUG messages.
    # Valid options: DEBUG, INFO, WARNING, ERROR, CRITICAL.
    # console_level: "INFO"

    # The logging level for the logfile. Default logs everything to the logfile.
    # Valid options: DEBUG, INFO, WARNING, ERROR, CRITICAL.
    # logfile_level: "DEBUG"

    # The logging format for the console. (The level is already prepended to the message).
    # See the possible variables here: https://docs.python.org/3/library/logging.html#logrecord-attributes.
    # stdout_format: "%(message)s"

    # The logging file location, set to "" to disable logging to a file.
    # logfile: "modmail.log"

    # The logging format for the logfile.
    # See the possible variables here: https://docs.python.org/3/library/logging.html#logrecord-attributes.
    # logfile_format: "%(asctime)s %(levelname)s %(name)s:%(lineno)d %(message)s"

    # The maximum size of each logfile, in bytes. Defaults to 35MB.
    # logfile_max_size: 36700160

    # The number of logfile backups to keep. Default no backups.
    # logfile_backup_count: 0

    # Configure the logging levels for discord.py's internal loggers.
    # It's suggested to leave these at their default values for easier debugging.
    # Valid options: DEBUG, INFO, WARNING, ERROR, CRITICAL.
    # discord_level: "INFO"
    # discord_state_level: "INFO"
    # discord_http_level: "INFO"
    # discord_gateway_level: "info"

    # TODO: add sentry support
